# =========================
# Секреты и конфигурации
# =========================
.env
*.pem
# Исключение: шаблон настроек мы оставляем в Git!
!.env.example

# =========================
# Папки IDE (PyCharm, VSCode)
# =========================
.idea/
.vscode/
*.swp
*.swo

# =========================
# Виртуальное окружение
# =========================
.venv/
venv/
env/

# =========================
# Кэш Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo

# =========================
# Базы данных (на всякий случай)
# =========================
db.sqlite3
db.sqlite3-journal

# =========================
# Медиа и Статика (Docker)
# =========================
# Файлы, которые грузят пользователи (аватарки, обложки услуг) категорически нельзя пушить
/media/
# Собранная статика (собирается через collectstatic при старте Docker)
/staticfiles/
# Логи
/logs/
*.log

# =========================
# Данные Docker (Volumes)
# =========================
# Если вы решите примонтировать базу PostgreSQL в папку на компьютере
postgres_data/
pgdata/

# =========================
# Системные файлы (Windows/Mac)
# =========================
.DS_Store
Thumbs.db
ehthumbs.db